<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  </head>
  <body>
	
	<h3>Reactive demo. Wait 10 seconds to see results.</h3>
	
	<div class="container">
	  <div class="row">
		<div class="col-sm">
		  <table class="table table-bordered">
			<thead>
			  <tr>
			    <td>Greeting</td>
			    <td>Inventor</td>
			  </tr>
			</thead>
			<tbody>
		      <tr data-th-each="greeting: ${greetings}">
			    <td data-th-text="${greeting.text}"></td>
			    <td data-th-text="${greeting.inventor}"></td>
		      </tr>
		    </tbody>
	      </table>
		</div>
	  </div>
	</div>
	
	<div>
	  <form action="#" th:action="@{/}" data-th-object="${greeting}" method="post">
	    <label>Add a greeting to the list:</label><br>
	    <input type="text" data-th-field="*{text}"><br>
	    <input type="submit" value="Submit">
	  </form>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>